.listItem {
  cursor: pointer;  
}

.listItem:hover {
  text-decoration: underline;
} 

.clearTasks{
  display: none;
}

.completed {  
  text-decoration: line-through;
}

.bottom-margin{
  margin-bottom: 5em;
}

.padding{
  margin-bottom: 2em;
}